ul {
    list-style: none;

}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #FBA403;
}

.containerFooter {
    display: flex;
    align-items: center;
    background: #242424;
}

.infoFooter li span {
    color: #B3B3B3;
}

.infoFooter li {
    margin: 10px;
    gap: 300px;
}


.listaFooter h3 {
    color: #FFFFFF;
}



.container-infos {
    display: flex;

}

.geral {
    margin-left: 100px;
}

.listaFooter li {
    margin-right: 50px;
    gap: 30px;
    margin-bottom: 13px;
}